body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Light background for better contrast */
    font-family: Arial, sans-serif;
}

.container-wrapper {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; /* Centers text and content horizontally */
}
.navbar {
    background: linear-gradient(90deg, #1b263b, #343a40);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-transform: capitalize;
    font-weight: 700;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5A7D9A !important;
}

.nav-link {
    font-size: 1.2rem;
    margin-right: 15px;
    color: #f8f9fa !important;
}

.nav-link:hover {
    color: #28a745 !important;
}
